@import 'mediaqueries.css'
@import 'keyframes.css'
@import url(https://fonts.googleapis.com/css?family=Nunito:400,700);
@font-face {
  font-family: Mousie;
  src: url(../fonts/Mousie.ttf);
}


@font-face {
  font-family: FAZINGSONE;
  src: url(../fonts/FAZINGSONE.TTF);
}

.text-left
  text-align left
body
  //background-image: url(../img/bg.jpg)
  font-family 'Nunito', sans-serif;
  animation-name bgFingerPut
  &.bgp1
  &.bgp2
  &.bgp3
  &.bgp4
  &.bgp5
  &.bgp6
  &.bgp7
  &.bgp8
  &.bgp9
  &.bgp10
    animation none
    background-position: 0 0
  &.bgp3
  &.bgp5
  &.bgp7
  &.bgp9
  &.bgp1
    background-image: url(../img/bgp1.jpg)
    animation-name moveRight
    animation-duration 50s
    animation-direction alternate
    animation-iteration-count infinite
  &.bgp4
  &.bgp6
  &.bgp8
  &.bgp10
  &.bgp2
    background-image: url(../img/bgp2.png)
    animation-duration 50s
    animation-direction alternate
    animation-iteration-count infinite

.position-relative
  position relative

.bg
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index -1
  background-color: rgba(255, 255, 255, 0.63)
button
  &:active
  &:hover
  &:focus
    outline none

.section
  visibility hidden
  display block
  opacity 0
  //height 0
  transition opacity 0.75s
  &.show
    visibility visible
    opacity 1
    height auto
.proverka
  font-family FAZINGSONE, sans-serif
  font-size 30px
#a
  .view
    right 50%
    &:after
      left 90%
#b
  .view
    left 50%
    &:after
      right 90%
.view {
    position: absolute;
    background: yellow;
    bottom: 100%;
    padding: 0 5px;
    border: 2px solid yellow;
    border-radius: 5px;
  }
.view:after {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(0, 213, 114, 0);
  border-top-color: yellow;
  border-width: 10px;
  margin-left: -10px;
}
.btn-numbers
  .btn-options
    transform: translateY(0px);
    border none
    font-family 'Nunito', sans-serif;
    border-radius 6px
    background-color: red
    color #fff
    transition transform 0.75s
    &:hover
      transform: translateY(-30px);
    &:nth-child(odd)
      background-color: blueviolet
    &:nth-child(3n)
      background-color: yellow
.centered-block
  position absolute
  font-family 'Nunito', sans-serif;
  font-size 32px
  top: 50%
  left: 50%
  max-width 700px
  width 100%
  min-width 300px
  text-align center
  transform translate(-50%, -50%)
  h1
    i
      font-style normal
      color #E7CA00
      &:nth-child(even)
        color red
      &.blue
        color blue

.start-btn
  color #ffff
  background-color: #47B901
  border-radius 6px
  border none
  font-family 'Nunito', sans-serif;
  box-shadow inset 0 0 30px 10px green
  text-decoration none
  padding: 5px 10px
  display inline-block
  &.red-btn
    background-color: #FF0000;
    box-shadow: inset 0 0 30px 10px #CA0000;
  &.blue-btn
    background-color: #0000FF;
    box-shadow: inset 0 0 30px 10px #00009B;
  &.black-btn
    background-color: #333;
    box-shadow: inset 0 0 30px 10px #000;
  &.default-btn
    background-color: #e1e1e1;
    box-shadow: inset 0 0 30px 10px #999;
  &:active
    box-shadow inset 0 0 40px 0px green

.results
  display inline-block
.mistake
  color red
.game
  .number
    display inline-block
  #result
  #eq
  #ch
    font-family'Nunito', sans-serif;
    display inline-block
    text-align center
  #a
  #b
  #result
    max-width 330px
    display inline-block
    text-align center
    //vertical-align middle
  /*#result
    padding 0 5px
    margin: 0 10px
    background-color: limegreen;
    color #fff
*/
#result
  position: relative
  max-width 330px
  display inline-block
  font-size 120px
  text-align center
  .view
    bottom auto
    top 100%
    &:after
      top: auto
      bottom: 100%
      border-top-color transparent
      border-bottom-color #ff0
.view
    font-family FAZINGSONE, sans-serif
    font-size 48px

.hello-words
  position relative
  text-align left
  display inline-block
  .option-cloud
    position absolute
    top: 0
    left: 105%
    width 100%
    background-color: #e1e1e1
    padding: 10px
    border-radius 6px

    &:after
      right: 100%;
      top: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(136, 183, 213, 0);
      border-right-color: #e1e1e1
      border-width: 10px;
      margin-top: -10px;

body
  .option-bg
    background-image: url(../img/option-bg.jpg)
    background-size 100%
    background-repeat: no-repeat
#option-slider
  padding-bottom: 80px
body
  .swiper-nav
    bottom 0px
    top auto
    width: 87px;
    height: 24px;
    font-size 18px
    z-index 100
    &.swiper-button-prev
      background: none
      right 50%
      left auto
      margin-right 10px
    &.swiper-button-next
      background: none
      left 50%
      right auto

.next__js
  position fixed
  left 50%
  transform translateX(-50%)
  font-size 24px

.sound
  position: fixed
  cursor pointer
  /*width 50px
  height 50px*/
  border-radius 50%
  background-color: #F28D8D
  transition background-color 0.75s
  &.turn-off
    background-color: #e1e1e1
  i
    padding 20px
    color #fff

body
  .next__js
    border-radius: 50%;
    padding: 15px 20px;

.prompt-btn
  background-color: yellow
  font-size 16px
  border none
  border-radius 6px
.prompt
  position fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  background-color: yellow
  padding 40px 20px
  z-index 10
  visibility hidden
  z-index -1
  opacity 0
  transition opacity 0.75s
  &.show
    visibility visible
    z-index 10
    opacity 1

.simb
  text-align center
  font-size 42px
.p-view
  text-align center
  img
    width 70px