@import 'mediaqueries.css';
@import 'keyframes.css';
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");
@font-face {
  font-family: Mousie;
  src: url("../fonts/Mousie.ttf");
}
@font-face {
  font-family: FAZINGSONE;
  src: url("../fonts/FAZINGSONE.TTF");
}
.text-left {
  text-align: left;
}
body {
  font-family: 'Nunito', sans-serif;
  -webkit-animation-name: bgFingerPut;
          animation-name: bgFingerPut;
}
body.bgp1,
body.bgp2,
body.bgp3,
body.bgp4,
body.bgp5,
body.bgp6,
body.bgp7,
body.bgp8,
body.bgp9,
body.bgp10 {
  -webkit-animation: none;
          animation: none;
  background-position: 0 0;
}
body.bgp3,
body.bgp5,
body.bgp7,
body.bgp9,
body.bgp1 {
  background-image: url("../img/bgp1.jpg");
  -webkit-animation-name: moveRight;
          animation-name: moveRight;
  -webkit-animation-duration: 50s;
          animation-duration: 50s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
body.bgp4,
body.bgp6,
body.bgp8,
body.bgp10,
body.bgp2 {
  background-image: url("../img/bgp2.png");
  -webkit-animation-duration: 50s;
          animation-duration: 50s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.position-relative {
  position: relative;
}
.bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: rgba(255,255,255,0.63);
}
button:active,
button:hover,
button:focus {
  outline: none;
}
.section {
  visibility: hidden;
  display: block;
  opacity: 0;
  transition: opacity 0.75s;
}
.section.show {
  visibility: visible;
  opacity: 1;
  height: auto;
}
.proverka {
  font-family: FAZINGSONE, sans-serif;
  font-size: 30px;
}
#a .view {
  right: 50%;
}
#a .view:after {
  left: 90%;
}
#b .view {
  left: 50%;
}
#b .view:after {
  right: 90%;
}
.view {
  position: absolute;
  background: #ff0;
  bottom: 100%;
  padding: 0 5px;
  border: 2px solid #ff0;
  border-radius: 5px;
}
.view:after {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(0,213,114,0);
  border-top-color: #ff0;
  border-width: 10px;
  margin-left: -10px;
}
.btn-numbers .btn-options {
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
  border: none;
  font-family: 'Nunito', sans-serif;
  border-radius: 6px;
  background-color: #f00;
  color: #fff;
  transition: -webkit-transform 0.75s;
  transition: transform 0.75s;
  transition: transform 0.75s, -webkit-transform 0.75s;
}
.btn-numbers .btn-options:hover {
  -webkit-transform: translateY(-30px);
      -ms-transform: translateY(-30px);
          transform: translateY(-30px);
}
.btn-numbers .btn-options:nth-child(odd) {
  background-color: #8a2be2;
}
.btn-numbers .btn-options:nth-child(3n) {
  background-color: #ff0;
}
.centered-block {
  position: absolute;
  font-family: 'Nunito', sans-serif;
  font-size: 32px;
  top: 50%;
  left: 50%;
  max-width: 700px;
  width: 100%;
  min-width: 300px;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.centered-block h1 i {
  font-style: normal;
  color: #e7ca00;
}
.centered-block h1 i:nth-child(even) {
  color: #f00;
}
.centered-block h1 i.blue {
  color: #00f;
}
.start-btn {
  color: #fff;
  background-color: #47b901;
  border-radius: 6px;
  border: none;
  font-family: 'Nunito', sans-serif;
  box-shadow: inset 0 0 30px 10px #008000;
  text-decoration: none;
  padding: 5px 10px;
  display: inline-block;
}
.start-btn.red-btn {
  background-color: #f00;
  box-shadow: inset 0 0 30px 10px #ca0000;
}
.start-btn.blue-btn {
  background-color: #00f;
  box-shadow: inset 0 0 30px 10px #00009b;
}
.start-btn.black-btn {
  background-color: #333;
  box-shadow: inset 0 0 30px 10px #000;
}
.start-btn.default-btn {
  background-color: #e1e1e1;
  box-shadow: inset 0 0 30px 10px #999;
}
.start-btn:active {
  box-shadow: inset 0 0 40px 0px #008000;
}
.results {
  display: inline-block;
}
.mistake {
  color: #f00;
}
.game .number {
  display: inline-block;
}
.game #result,
.game #eq,
.game #ch {
  font-family: 'Nunito', sans-serif;
  display: inline-block;
  text-align: center;
}
.game #a,
.game #b,
.game #result {
  max-width: 330px;
  display: inline-block;
  text-align: center;
}
#result {
  position: relative;
  max-width: 330px;
  display: inline-block;
  font-size: 120px;
  text-align: center;
}
#result .view {
  bottom: auto;
  top: 100%;
}
#result .view:after {
  top: auto;
  bottom: 100%;
  border-top-color: transparent;
  border-bottom-color: #ff0;
}
.view {
  font-family: FAZINGSONE, sans-serif;
  font-size: 48px;
}
.hello-words {
  position: relative;
  text-align: left;
  display: inline-block;
}
.hello-words .option-cloud {
  position: absolute;
  top: 0;
  left: 105%;
  width: 100%;
  background-color: #e1e1e1;
  padding: 10px;
  border-radius: 6px;
}
.hello-words .option-cloud:after {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136,183,213,0);
  border-right-color: #e1e1e1;
  border-width: 10px;
  margin-top: -10px;
}
body .option-bg {
  background-image: url("../img/option-bg.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}
#option-slider {
  padding-bottom: 80px;
}
body .swiper-nav {
  bottom: 0px;
  top: auto;
  width: 87px;
  height: 24px;
  font-size: 18px;
  z-index: 100;
}
body .swiper-nav.swiper-button-prev {
  background: none;
  right: 50%;
  left: auto;
  margin-right: 10px;
}
body .swiper-nav.swiper-button-next {
  background: none;
  left: 50%;
  right: auto;
}
.next__js {
  position: fixed;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 24px;
}
.sound {
  position: fixed;
  cursor: pointer;
/*width 50px
  height 50px*/
  border-radius: 50%;
  background-color: #f28d8d;
  transition: background-color 0.75s;
}
.sound.turn-off {
  background-color: #e1e1e1;
}
.sound i {
  padding: 20px;
  color: #fff;
}
body .next__js {
  border-radius: 50%;
  padding: 15px 20px;
}
.prompt-btn {
  background-color: #ff0;
  font-size: 16px;
  border: none;
  border-radius: 6px;
}
.prompt {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ff0;
  padding: 40px 20px;
  z-index: 10;
  visibility: hidden;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.75s;
}
.prompt.show {
  visibility: visible;
  z-index: 10;
  opacity: 1;
}
.simb {
  text-align: center;
  font-size: 42px;
}
.p-view {
  text-align: center;
}
.p-view img {
  width: 70px;
}
