@media only screen and (min-width:0)
  .btn-numbers
    margin-top 30px
  .remodal
    font-size 15px
  .next__js
    bottom 140px
  .sound
    top 40px
    right 40px
  .view
    display none!important
  .game
    position static
    font-family 'Nunito', sans-serif;
    text-align center
    margin-top: 50%
  .btn-numbers
    .btn-options
      padding 0px
      width 36px
      height 36px
      line-height 36px
      font-size 21px
  .mistake
    font-size  45px
    color red
  .game
    font-size 32px
    .number
      display inline-block
    #result
    #eq
    #ch
      font-size 45px
    #a
    #b
    #result
      font-size 45px
  .start-btn
    font-size 14px
  .starting-page
    h1
      font-size 1em
  .hello-words
    .option-cloud
      font-size 15px
      min-width 160px
    img
      max-width 80px
  body
    font-family 'Nunito', sans-serif;
    animation-name bgFingerPut
    &.bgp1
    &.bgp2
    &.bgp3
    &.bgp4
    &.bgp5
    &.bgp6
    &.bgp7
    &.bgp8
    &.bgp9
    &.bgp10
      background-size: 630%
    &.bgp3
    &.bgp5
    &.bgp7
    &.bgp9
    &.bgp1
      animation-name mobileZooming

@media only screen and (min-width:1000px)
  .prompt-btn
    display none
  .btn-numbers
    margin-top 100px
  .remodal
    font-size 30px
  .next__js
    bottom 20px
  .sound
    top 20px
    right 20px
  .view
    display block!important
    &.hide
      display none!important
  .game
    position absolute
    margin-top: 0
    font-family 'Nunito', sans-serif;
    top: 50%
    left: 50%
    width 100%
    min-width 300px
    text-align center
    transform translate(-50%, -50%)
  .btn-numbers
    .btn-options
      padding 20px
      font-size 42px
      width auto
      height auto
      line-height auto
  .mistake
    font-size  120px
    color red
  .game
    font-size 32px
    .number
      display inline-block
    #result
    #eq
    #ch
      font-size 120px
    #a
    #b
    #result
      font-size 120px
  .start-btn
    font-size 100%
  .starting-page
    h1
      font-size 2em
  .hello-words
    .option-cloud
      font-size 24px
      min-width 400px
    img
      min-width 180px
  body
    font-family 'Nunito', sans-serif;
    animation-name bgFingerPut
    &.bgp1
    &.bgp2
    &.bgp3
    &.bgp4
    &.bgp5
    &.bgp6
    &.bgp7
    &.bgp8
    &.bgp9
    &.bgp10
      background-size: 100%
    &.bgp3
    &.bgp5
    &.bgp7
    &.bgp9
    &.bgp1
      background-size: 200%
      animation-name zooming